server.port: 8085

zuul:
  prefix: /api
  routes:
    springboot-eureka-client-2:
      path: /client2/**
      url: http://localhost:8084
    springboot-eureka-client-1:
      path: /client1/**
      #url: http://localhost:8082
      serviceId: SPRINGBOOT-EUREKA-CLIENT-1
      
eureka:
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true
    lease:
      duration: 5

spring:
  application:
    name: zuul-server